<body>
  <div class="navigation">
    <ul>
        <li>
            <a routerLink="/home">
                <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <span class="title">Home</span>
            </a>
        </li>
        <li>
            <a routerLink="/signup">
                <span class="icon">
                    <span class="icon">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </span>
                </span>
                <span class="title">Sign Up</span>
            </a>
        </li>
        <li>
            <a routerLink="/signin">
                <span class="icon">
                    <span class="icon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </span>
                <span class="title">Sign In</span>
            </a>
        </li>
        <li>
            <a routerLink="/contact">
                <span class="icon">
                    <span class="icon">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </span>
                </span>
                <span class="title">Add Bills</span>
            </a>
        </li>
        <li>
            <a routerLink='/showDate'>
                <span class="icon"><i class="fa fa-bar-chart-o" aria-hidden="true"></i></span>
                <span class="title">Show Date</span>
            </a>
        </li>
        <!-- <li> 
            <a routerLink="/createGoods">
                <span class="icon">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                </span>
                <span class="title">Add Goods</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/contactList']">
                <span class="icon">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                </span>
                <span class="title">View Goods</span>
            </a>
        </li>-->
    </ul>
  </div>
</body>
<router-outlet></router-outlet>